.cartWidget {
  display: flex;
  align-items: center;
  justify-content: end;
  color: rgb(252, 248, 232);
}

.quantity {
  font-family: "Varela Round", sans-serif;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  color: rgb(252, 248, 232);
  text-decoration: none;
}
